<div id="google_translate_element"></div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en', // Укажите язык вашего сайта
            includedLanguages: 'en,es,fr,de, ru', // Укажите языки, которые вы хотите включить
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem numquam molestiae officia consequatur expedita. Corrupti voluptas libero corporis esse quasi dolore qui fugiat! Exercitationem quaerat delectus error nemo consectetur doloremque!</div>
<div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis magnam eaque optio eveniet incidunt eos sunt voluptatem repellendus obcaecati minima sint nulla ea error, mollitia reiciendis delectus modi! Suscipit, nam!</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non placeat eveniet ratione sunt ad ab assumenda totam facilis dolore eaque quidem, possimus culpa mollitia voluptatem vitae quasi ullam pariatur consectetur!</div>